
Bean-Game/Library
Bean-Game/Temp/FSTimeGet-012ad2d004e31d24cb9a9fd9b02a706f
Bean-Game/Temp/FSTimeGet-0e73c4ebf26e3d0478d3871affc56512
Bean-Game/Temp/FSTimeGet-9877a57c2fc442440b68e3b72340fef1
Bean-Game/Temp/UnityLockfile
Bean-Game/Temp/workerlic
Bean-Game/Temp/__Backupscenes/0.backup
Bean-Game/Temp/FSTimeGet-2e2a78c8a326a8d46aae51b0d11f1209
Bean-Game/Temp/FSTimeGet-8a5779e1ed549684c901d2c0b2f0e6c5
Bean-Game/Temp/FSTimeGet-e4c5877a33704404ca09aceaf0609f7a
*.log
Bean-Game/.vs/Bean-Game/FileContentIndex/1647142a-7dc3-4243-80bd-ac887bbd29ea.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/21a32bfc-f8d6-405d-adbd-1c5914003626.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/43bd955c-c024-4abd-a3bf-f93d43fdf1f1.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/468ea8e1-81a6-4035-bd1d-9405a72fc2f4.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/6016c2eb-4c6d-43d5-b155-85a36a65991a.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/73cdb5b1-c622-4fda-88d5-cdb6c04f8d51.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/ac9066ae-8a92-498f-bbd0-1e3de645873c.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/c390e169-9cae-4899-8184-a03ca3e4171b.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/e2337d01-a3b2-4c13-8c1d-19d31ae0efc4.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/f5f855fc-a228-4d53-a989-2a83750d38ac.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/43bd955c-c024-4abd-a3bf-f93d43fdf1f1.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/468ea8e1-81a6-4035-bd1d-9405a72fc2f4.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/73cdb5b1-c622-4fda-88d5-cdb6c04f8d51.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/ac9066ae-8a92-498f-bbd0-1e3de645873c.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/c390e169-9cae-4899-8184-a03ca3e4171b.vsidx
*.log
Bean-Game/Logs/AssetImportWorker0-prev.log
Bean-Game/Logs/AssetImportWorker0.log
Bean-Game/Logs/AssetImportWorker1-prev.log
Bean-Game/Logs/AssetImportWorker1.log
Bean-Game/Logs/shadercompiler-AssetImportWorker0-0.log
Bean-Game/Logs/shadercompiler-AssetImportWorker1-0.log
Bean-Game/Logs/shadercompiler-UnityShaderCompiler.exe-0.log
Bean-Game/Temp/FSTimeGet-6450d0c9c7fd59146a6b75a989f9892c
Bean-Game/UserSettings/Layouts/default-2023.dwlt
