
Bean-Game/Library
Bean-Game/Temp/FSTimeGet-012ad2d004e31d24cb9a9fd9b02a706f
Bean-Game/Temp/FSTimeGet-0e73c4ebf26e3d0478d3871affc56512
Bean-Game/Temp/FSTimeGet-9877a57c2fc442440b68e3b72340fef1
Bean-Game/Temp/UnityLockfile
Bean-Game/Temp/workerlic
Bean-Game/Temp/__Backupscenes/0.backup
Bean-Game/Temp/FSTimeGet-2e2a78c8a326a8d46aae51b0d11f1209
Bean-Game/Temp/FSTimeGet-8a5779e1ed549684c901d2c0b2f0e6c5
Bean-Game/Temp/FSTimeGet-e4c5877a33704404ca09aceaf0609f7a
*.log
Bean-Game/.vs/Bean-Game/FileContentIndex/1647142a-7dc3-4243-80bd-ac887bbd29ea.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/21a32bfc-f8d6-405d-adbd-1c5914003626.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/43bd955c-c024-4abd-a3bf-f93d43fdf1f1.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/468ea8e1-81a6-4035-bd1d-9405a72fc2f4.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/6016c2eb-4c6d-43d5-b155-85a36a65991a.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/73cdb5b1-c622-4fda-88d5-cdb6c04f8d51.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/ac9066ae-8a92-498f-bbd0-1e3de645873c.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/c390e169-9cae-4899-8184-a03ca3e4171b.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/e2337d01-a3b2-4c13-8c1d-19d31ae0efc4.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/f5f855fc-a228-4d53-a989-2a83750d38ac.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/43bd955c-c024-4abd-a3bf-f93d43fdf1f1.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/468ea8e1-81a6-4035-bd1d-9405a72fc2f4.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/73cdb5b1-c622-4fda-88d5-cdb6c04f8d51.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/ac9066ae-8a92-498f-bbd0-1e3de645873c.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/c390e169-9cae-4899-8184-a03ca3e4171b.vsidx
*.log
Bean-Game/Logs/AssetImportWorker0-prev.log
Bean-Game/Logs/AssetImportWorker0.log
Bean-Game/Logs/AssetImportWorker1-prev.log
Bean-Game/Logs/AssetImportWorker1.log
Bean-Game/Logs/shadercompiler-AssetImportWorker0-0.log
Bean-Game/Logs/shadercompiler-AssetImportWorker1-0.log
Bean-Game/Logs/shadercompiler-UnityShaderCompiler.exe-0.log
Bean-Game/Temp/FSTimeGet-6450d0c9c7fd59146a6b75a989f9892c
Bean-Game/Temp/FSTimeGet-4a7ad69c2fb28d143811b3e3d3eda306
Bean-Game/Temp/FSTimeGet-4d65f699f17a81c44a885556e8b61357
Temp/
Logs/
Bean-Game/Logs/AssetImportWorker0-prev.log
Bean-Game/Logs/AssetImportWorker1-prev.log
Bean-Game/Logs/shadercompiler-UnityShaderCompiler.exe-0.log
Bean-Game/Logs/Packages-Update.log
Bean-Game/Logs/shadercompiler-UnityShaderCompiler.exe-0.log
Bean-Game/Logs/Packages-Update.log
Bean-Game/Logs/shadercompiler-UnityShaderCompiler.exe-0.log

Bean-Game/.vs/Bean-Game/FileContentIndex/51beff11-9846-429d-b847-7bc18fb05577.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/a51fd825-4cca-4fe5-b199-90a595e29fb7.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/13992f1c-dfa2-4179-9951-4d8b8d74699c.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/22151e8f-f829-4fb1-bf75-9791957c3bbe.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/bfed9ebe-b4cf-4713-abc5-0f51b7c519fb.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/c07b4f69-019f-49ab-b307-de7ffc84e151.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/f74ea510-b6eb-474d-8ff8-144c15a4e3b4.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/ef53e1c8-1547-43cc-8bd5-fd75e18ed3f4.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/c15c5c1f-074f-45c3-88b9-95e89fd4def1.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/37b406e2-fed5-4ca2-a59c-e964046b14a6.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/337969b2-320c-44da-9e79-d9b447813ade.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/4ec048ca-525a-4c45-b423-3db4f64e1f30.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/6b4403d0-aeef-4916-bee0-143c58a4197b.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/98393d0c-da84-414b-ac71-02f9cfda471d.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/a171f24f-a6cb-4324-a1a5-af888888ec14.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/c4de0422-cfa4-4ac3-8f86-a3595cbb1495.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/a36606a5-673e-49c7-9565-23bd6fc5416a.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/2b5d2296-47d5-4e89-9102-24962d63afaf.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/26bc4905-b676-46e1-af27-dc25b6b0bf25.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/c37ede8f-0f41-494b-9ba7-3d5794d49110.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/a589998b-63c7-421c-aa4e-7f3764f00e7c.vsidx
Bean-Game/.vs/Bean-Game/FileContentIndex/0a1bf004-b4d4-40d3-b8db-082bc28535c0.vsidx
